body{
    background-image: url("https://cdn.vox-cdn.com/thumbor/HwXqr1KtoPi6r8EeBH3d7NXOObs=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19289313/ACASTRO_190926_1777_TWITCH_0001.jpg");
    font-family:"Roboto Light","Calibri Light","Calibri";
}

a{
    text-decoration: none;
}

h1, h2, h3{
    padding: 0px;
}

#pog{
    background-image: url("https://freepngimg.com/thumb/mouth/92712-ear-head-twitch-pogchamp-emote-free-download-png-hq-thumb.png");
}

#container{
    background-color: azure;
    width: 800px;
    margin-left: auto;
    margin-right: 150px;
}

#header{
    background-color: blueviolet;
    color: white;
    text-align: center;
}

#content{
    padding: 10px;
}

#nav{
    width: 180px;
    float: left;
}

#nav ul{
    list-style-type: none;
}

#nav .selected{
    font-weight: bolder;
}

#main{
    width: 600px;
    float: right;
}

#footer{
    clear: both;
    color: lightgray;
    text-align: right;
    padding: 10px;
    background-color: black;
}